<style type="text/css">
    .input-group-btn {
        font-size: 12px;
    }

    #lbl_custm_End {
        margin-top: 1px;
    }

    .slider.round {
        margin-top: 9px;
    }

    .slider {
        min-height: 19px;
    }

    .TopAdvancedFilters {
        padding-bottom: 10px !important;
    }
</style>

<div ng-controller="CategoryController" class="">
    <div class="col-md-12"><h2 class="page-heading">Mock Test</h2></div>
    


    
    
    <!--<div class="panel">
        <div class="col-md-12">
            <div id="CategoryGrid" kendo-grid="gridCategory" options="CategorygridOptions" k-rebind="CategoryGridRebind" k-on-change="onChangeCategoryGrid({ selected: selected },data,dataItem,angularDataItem)" k-selectable="true" class="link-hover k-grid k-widget">
            </div>
        </div>
    </div>-->






</div>
